.fitnessign-text-green {
    color: #15FF00 !important;
}

.fitnessign-bg-green {
    background-color: #0B0B0B !important;
}

.text-fg-green {
  color: #00ff40 !important;
}

.divider-line {
  color: #15FF00;
}

.coach-title-color {
  color: #15FF00;
}