.fitnessign-text-green {
    color: var(--color-accent) !important;
}

.fitnessign-bg-green {
    background-color: var(--color-bg-secondary) !important;
}

.text-fg-green {
  color: var(--color-accent) !important;
}

.divider-line {
  color: var(--color-accent);
}

.coach-title-color {
  color: var(--color-accent);
}